$star-size: 40px;
$small-star-size: 20px;
$stars: 5;
$star-spacing: 2px;
$star-on-color: #F9DF4A;
$star-off-color: #CCCCCC;
.star {
    width: ($star-size * $stars) + ($star-spacing * ($stars - 1));
    height: $star-size;
    margin: 0 auto;
    label {
        float: right;
        position: relative;
        width: $star-size;
        height: $star-size;
        &:not(:first-of-type) {
            padding-right: $star-spacing;
        }
        &:before {
            content: "\2605";
            font-size: $star-size + 2px;
            color: $star-off-color;
            line-height: 1;
        }
    }
    input {
        display: none;
    }
    input:checked~label:before {
        color: $star-on-color;
    }
}